/* Reset 기본값 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll; /* 항상 스크롤바가 존재하도록 설정 */
}

/* Navbar 스타일 */
.navbar {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0.3rem 1rem; /* 높이를 더 짧게 조정 */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: none; /* 테두리 효과 제거 */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* 상단 제목 스타일 */
.topmenu-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 10px 20px; /* 높이를 더 줄임 */
    width: 100%;
    background: linear-gradient(135deg, #333, #333);
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: row; /* 한 줄에 정렬 */
    align-items: center;
    gap: 10px;
}

.topmenu-title .highlight {
    color: #00fbff; /* 주황색 */
    font-size: 22px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.topmenu-title .highlight:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 5px rgba(0, 225, 255, 0.5);
}

.topmenu-title .subtitle {
    font-size: 18px;
    color: #ddd;
    font-style: italic;
    margin-top: 0;
}


/* 페이드인 효과 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 반응형 설정 */
@media (max-width: 768px) {
    .topmenu-title {
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
    }

    .topmenu-title .highlight {
        font-size: 20px;
    }

    .topmenu-title .subtitle {
        font-size: 16px;
    }
}
